aside {
  padding-right: 32px;

  .nav {
    height: 900px;
    background-color: lightgray;
  }
}

.box {
  background-color: lightgray;
  height: 120px;
  margin: -16px -16px 16px;
}

.example-card {
 margin-bottom: 32px;
}
